In [0]:
#Taking the files from web
url = "https://archive.ics.uci.edu/ml/machine-learning-databases/iris/iris.data"
from pyspark import SparkFiles
spark.sparkContext.addFile(url)

In [0]:
#reading the file to create the dataframe
df = spark.read.csv("file://"+SparkFiles.get("iris.data"), inferSchema= True)

In [0]:
#priting the column and showing the information
df.printSchema()
df.show()

root
 |-- _c0: double (nullable = true)
 |-- _c1: double (nullable = true)
 |-- _c2: double (nullable = true)
 |-- _c3: double (nullable = true)
 |-- _c4: string (nullable = true)

+---+---+---+---+-----------+
|_c0|_c1|_c2|_c3|        _c4|
+---+---+---+---+-----------+
|5.1|3.5|1.4|0.2|Iris-setosa|
|4.9|3.0|1.4|0.2|Iris-setosa|
|4.7|3.2|1.3|0.2|Iris-setosa|
|4.6|3.1|1.5|0.2|Iris-setosa|
|5.0|3.6|1.4|0.2|Iris-setosa|
|5.4|3.9|1.7|0.4|Iris-setosa|
|4.6|3.4|1.4|0.3|Iris-setosa|
|5.0|3.4|1.5|0.2|Iris-setosa|
|4.4|2.9|1.4|0.2|Iris-setosa|
|4.9|3.1|1.5|0.1|Iris-setosa|
|5.4|3.7|1.5|0.2|Iris-setosa|
|4.8|3.4|1.6|0.2|Iris-setosa|
|4.8|3.0|1.4|0.1|Iris-setosa|
|4.3|3.0|1.1|0.1|Iris-setosa|
|5.8|4.0|1.2|0.2|Iris-setosa|
|5.7|4.4|1.5|0.4|Iris-setosa|
|5.4|3.9|1.3|0.4|Iris-setosa|
|5.1|3.5|1.4|0.3|Iris-setosa|
|5.7|3.8|1.7|0.3|Iris-setosa|
|5.1|3.8|1.5|0.3|Iris-setosa|
+---+---+---+---+-----------+
only showing top 20 rows

In [0]:
from pyspark.sql.functions import regexp_replace
df1=df.withColumn("classes", regexp_replace("_c4", "Iris", "Iris-Dataset"))
df1.show()

+---+---+---+---+-----------+-------------------+
|_c0|_c1|_c2|_c3|        _c4|            classes|
+---+---+---+---+-----------+-------------------+
|5.1|3.5|1.4|0.2|Iris-setosa|Iris-Dataset-setosa|
|4.9|3.0|1.4|0.2|Iris-setosa|Iris-Dataset-setosa|
|4.7|3.2|1.3|0.2|Iris-setosa|Iris-Dataset-setosa|
|4.6|3.1|1.5|0.2|Iris-setosa|Iris-Dataset-setosa|
|5.0|3.6|1.4|0.2|Iris-setosa|Iris-Dataset-setosa|
|5.4|3.9|1.7|0.4|Iris-setosa|Iris-Dataset-setosa|
|4.6|3.4|1.4|0.3|Iris-setosa|Iris-Dataset-setosa|
|5.0|3.4|1.5|0.2|Iris-setosa|Iris-Dataset-setosa|
|4.4|2.9|1.4|0.2|Iris-setosa|Iris-Dataset-setosa|
|4.9|3.1|1.5|0.1|Iris-setosa|Iris-Dataset-setosa|
|5.4|3.7|1.5|0.2|Iris-setosa|Iris-Dataset-setosa|
|4.8|3.4|1.6|0.2|Iris-setosa|Iris-Dataset-setosa|
|4.8|3.0|1.4|0.1|Iris-setosa|Iris-Dataset-setosa|
|4.3|3.0|1.1|0.1|Iris-setosa|Iris-Dataset-setosa|
|5.8|4.0|1.2|0.2|Iris-setosa|Iris-Dataset-setosa|
|5.7|4.4|1.5|0.4|Iris-setosa|Iris-Dataset-setosa|
|5.4|3.9|1.3|0.4|Iris-setosa|Iris-Dataset-setosa|
|5.1|3.5|1.4|0.3|Iris-setosa|Iris-Dataset-setosa|
|5.7|3.8|1.7|0.3|Iris-setosa|Iris-Dataset-setosa|
|5.1|3.8|1.5|0.3|Iris-setosa|Iris-Dataset-setosa|
+---+---+---+---+-----------+-------------------+
only showing top 20 rows

In [0]:
df1.select('classes').distinct().rdd.map(lambda r: r[0]).collect()

Out[16]: ['Iris-Dataset-versicolor', 'Iris-Dataset-virginica', 'Iris-Dataset-setosa']

In [0]:
df.describe().show()

+-------+------------------+-------------------+------------------+------------------+--------------+
|summary|               _c0|                _c1|               _c2|               _c3|           _c4|
+-------+------------------+-------------------+------------------+------------------+--------------+
|  count|               150|                150|               150|               150|           150|
|   mean| 5.843333333333335| 3.0540000000000007|3.7586666666666693|1.1986666666666672|          null|
| stddev|0.8280661279778637|0.43359431136217375| 1.764420419952262|0.7631607417008414|          null|
|    min|               4.3|                2.0|               1.0|               0.1|   Iris-setosa|
|    max|               7.9|                4.4|               6.9|               2.5|Iris-virginica|
+-------+------------------+-------------------+------------------+------------------+--------------+

In [0]:
detail_df=df1.filter(df1['classes'] == "OH")
detail_df.show()

+---+---+---+---+---+-------+
|_c0|_c1|_c2|_c3|_c4|classes|
+---+---+---+---+---+-------+
+---+---+---+---+---+-------+

In [0]:
#states which starts from H
detail_df = df1.filter(df1.classes.startswith("s"))
detail_df.show()

+---+---+---+---+---+-------+
|_c0|_c1|_c2|_c3|_c4|classes|
+---+---+---+---+---+-------+
+---+---+---+---+---+-------+

In [0]:
# class which end A
detail_df = df1.filter(df1.classes.endswith("a"))
detail_df.show()

+---+---+---+---+-----------+-------------------+
|_c0|_c1|_c2|_c3|        _c4|            classes|
+---+---+---+---+-----------+-------------------+
|5.1|3.5|1.4|0.2|Iris-setosa|Iris-Dataset-setosa|
|4.9|3.0|1.4|0.2|Iris-setosa|Iris-Dataset-setosa|
|4.7|3.2|1.3|0.2|Iris-setosa|Iris-Dataset-setosa|
|4.6|3.1|1.5|0.2|Iris-setosa|Iris-Dataset-setosa|
|5.0|3.6|1.4|0.2|Iris-setosa|Iris-Dataset-setosa|
|5.4|3.9|1.7|0.4|Iris-setosa|Iris-Dataset-setosa|
|4.6|3.4|1.4|0.3|Iris-setosa|Iris-Dataset-setosa|
|5.0|3.4|1.5|0.2|Iris-setosa|Iris-Dataset-setosa|
|4.4|2.9|1.4|0.2|Iris-setosa|Iris-Dataset-setosa|
|4.9|3.1|1.5|0.1|Iris-setosa|Iris-Dataset-setosa|
|5.4|3.7|1.5|0.2|Iris-setosa|Iris-Dataset-setosa|
|4.8|3.4|1.6|0.2|Iris-setosa|Iris-Dataset-setosa|
|4.8|3.0|1.4|0.1|Iris-setosa|Iris-Dataset-setosa|
|4.3|3.0|1.1|0.1|Iris-setosa|Iris-Dataset-setosa|
|5.8|4.0|1.2|0.2|Iris-setosa|Iris-Dataset-setosa|
|5.7|4.4|1.5|0.4|Iris-setosa|Iris-Dataset-setosa|
|5.4|3.9|1.3|0.4|Iris-setosa|Iris-Dataset-setosa|
|5.1|3.5|1.4|0.3|Iris-setosa|Iris-Dataset-setosa|
|5.7|3.8|1.7|0.3|Iris-setosa|Iris-Dataset-setosa|
|5.1|3.8|1.5|0.3|Iris-setosa|Iris-Dataset-setosa|
+---+---+---+---+-----------+-------------------+
only showing top 20 rows

In [0]:
detail_df = df1.filter(df1.classes.like("%an%"))
detail_df.show()

+---+---+---+---+---+-------+
|_c0|_c1|_c2|_c3|_c4|classes|
+---+---+---+---+---+-------+
+---+---+---+---+---+-------+

In [0]:
simpleData = [("James","Sales","NY",90000,34,10000),
    ("Michael","Sales","NY",86000,56,20000),
    ("Robert","Sales","CA",81000,30,23000),
    ("Maria","Finance","CA",90000,24,23000),
    ("Raman","Finance","CA",99000,40,24000),
    ("Scott","Finance","NY",83000,36,19000),
    ("Jen","Finance","NY",79000,53,15000),
    ("Jeff","Marketing","CA",80000,25,18000),
    ("Kumar","Marketing","NY",91000,50,21000)
  ]
schema = ["employee_name","department","state","salary","age","bonus"]
latest_df=spark.createDataFrame(simpleData,schema)
latest_df.show()

+-------------+----------+-----+------+---+-----+
|employee_name|department|state|salary|age|bonus|
+-------------+----------+-----+------+---+-----+
|        James|     Sales|   NY| 90000| 34|10000|
|      Michael|     Sales|   NY| 86000| 56|20000|
|       Robert|     Sales|   CA| 81000| 30|23000|
|        Maria|   Finance|   CA| 90000| 24|23000|
|        Raman|   Finance|   CA| 99000| 40|24000|
|        Scott|   Finance|   NY| 83000| 36|19000|
|          Jen|   Finance|   NY| 79000| 53|15000|
|         Jeff| Marketing|   CA| 80000| 25|18000|
|        Kumar| Marketing|   NY| 91000| 50|21000|
+-------------+----------+-----+------+---+-----+

In [0]:
#I want to know the salary of department wise
from pyspark.sql.functions import sum
salary_by_dept = latest_df.groupBy("department").sum("salary")
salary_by_dept.show()

+----------+-----------+
|department|sum(salary)|
+----------+-----------+
|     Sales|     257000|
|   Finance|     351000|
| Marketing|     171000|
+----------+-----------+

In [0]:
#I want to know Sum of salary department wise ,Department Name, Employe name
from pyspark.sql.functions import sum
salary_by_dept = latest_df.groupBy("department","employee_name").sum("salary").alias("sum_salary")
salary_by_dept.show()

+----------+-------------+-----------+
|department|employee_name|sum(salary)|
+----------+-------------+-----------+
|     Sales|      Michael|      86000|
|     Sales|        James|      90000|
|   Finance|        Maria|      90000|
|     Sales|       Robert|      81000|
|   Finance|        Raman|      99000|
|   Finance|        Scott|      83000|
| Marketing|         Jeff|      80000|
|   Finance|          Jen|      79000|
| Marketing|        Kumar|      91000|
+----------+-------------+-----------+

In [0]:
from pyspark.sql.functions import sum
from pyspark.sql.functions import col
from pyspark.sql import Window  #Importing the windowfunction
windowSpec  = Window.partitionBy("Department") #Partitioning by the department column
latest_df.withColumn("Salary Sum",sum(col("Salary")).over(windowSpec)).show() #Creating new column salary sum with sum function using over to calculate the sum on the dataframe with the partitionedÂ rows

+-------------+----------+-----+------+---+-----+----------+
|employee_name|department|state|salary|age|bonus|Salary Sum|
+-------------+----------+-----+------+---+-----+----------+
|        Maria|   Finance|   CA| 90000| 24|23000|    351000|
|        Raman|   Finance|   CA| 99000| 40|24000|    351000|
|        Scott|   Finance|   NY| 83000| 36|19000|    351000|
|          Jen|   Finance|   NY| 79000| 53|15000|    351000|
|         Jeff| Marketing|   CA| 80000| 25|18000|    171000|
|        Kumar| Marketing|   NY| 91000| 50|21000|    171000|
|        James|     Sales|   NY| 90000| 34|10000|    257000|
|      Michael|     Sales|   NY| 86000| 56|20000|    257000|
|       Robert|     Sales|   CA| 81000| 30|23000|    257000|
+-------------+----------+-----+------+---+-----+----------+